@import "tailwindcss";

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  
  --color-primary: #2f6388;
  --color-secondary: #bb0112;
  --color-tertiary: #fbcd17;
  
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

@layer base {
  body {
    @apply font-body bg-[#f8f9ff] text-[#0d1c2e];
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.stone-shadow {
  box-shadow: inset -2px -2px 4px rgba(0,0,0,0.1), inset 2px 2px 4px rgba(255,255,255,0.3);
}

